@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GateMoviez.Com/UserManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome/all.css" />
    <link rel="stylesheet" href="~/css/Admin-Site.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />

</head>
<body>
    <div class="container-fluid">

        <div class="container partation-1">
            <div class="register-tab pl-1 pr-1">
                <div class="top">
                    <span><a href="#" class="fab fa-facebook text-primary"></a></span>
                    <span><a href="#" class="fab fa-google text-danger"></a></span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="text-white">Wellcome ! <span class="text-warning">@User.Identity.Name</span> </span>


                    }
                    else
                    {
                        <span><a href="#" data-toggle="modal" data-target="#exampleModalCenter1">Sign Up</a></span>

                        @* modal *@
                        <div class="modal fade sing-up" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="sinup-tab">
                                        <button type="button" style="opacity:1" class="close" data-dismiss="modal" aria-label="Close">
                                            <img aria-hidden="true" src="/img/social singup/close.png" alt="Alternate Text" />
                                        </button>
                                        <form>

                                            <div class="sing-window">
                                                <h6>ایجاد حساب کاربری</h6>
                                                <div class="cover-singup">
                                                    <img src="/img/social singup/1.png" alt="Alternate Text" />
                                                </div>

                                                <div class="singup-inputs-window rtl d-flex">
                                                    <div class="d-flex flex-column align-items-start">

                                                        <div>
                                                            <label class="select-name3">نام کاربری :</label>

                                                        </div>
                                                        <div>
                                                            <label class="select-name3">ایمیل :</label>

                                                        </div>
                                                        <div>
                                                            <label class="select-name3">پسوورد :</label>

                                                        </div>

                                                    </div>
                                                    <div class="d-flex flex-column align-items-center">

                                                        <div>

                                                            <input id="username" class="selector-input ltr" name="username" placeholder="UserName" value="" />
                                                        </div>
                                                        <div>

                                                            <input id="email" class="selector-input ltr" name="email" placeholder="YourEmail@gmail.com" value="" />
                                                        </div>
                                                        <div>

                                                            <input id="pwd" class="selector-input ltr" name="pwd" value="" />
                                                        </div>

                                                    </div>





                                                </div>
                                                <button class="creatacc-btn">ایجاد حساب</button>
                                                <div class="already-login">
                                                    <span>حساب کاربری دارید ؟</span>
                                                    <a href="#">وارد شوید</a>
                                                </div>

                                                <div class="creat-social mt-5 ">
                                                    <h7>ایجاد حساب کاربری از طریق :</h7>
                                                    <div class="social-icons">
                                                        <a href="#"><img src="/img/social singup/twitter.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/facebook.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/yahoo.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/google.png" alt="Alternate Text" /></a>
                                                    </div>




                                                </div>




                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* modal *@

                        <span>|</span>
                        <span><a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Sign In</a></span>
                        @* modal *@
                        <div class="modal fade sing-up" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="sinup-tab">
                                        <button type="button" style="opacity:1" class="close" data-dismiss="modal" aria-label="Close">
                                            <img aria-hidden="true" src="/img/social singup/close.png" alt="Alternate Text" />
                                        </button>
                                        <div class="sing-window">

                                            <h6>ورود به سایت </h6>
                                            <div class="cover-singup">
                                                <img src="/img/social singup/1.png" alt="Alternate Text" />
                                            </div>

                                            <div class="singup-inputs-window rtl d-flex">
                                                <div class="d-flex flex-column align-items-start">

                                                    <div>
                                                        <label class="select-name3">نام کاربری/ایمیل :</label>

                                                    </div>

                                                    <div>
                                                        <label class="select-name3">پسوورد :</label>

                                                    </div>

                                                </div>
                                                <div class="d-flex flex-column align-items-center">

                                                    <div>

                                                        <input class="selector-input ltr" name="Username" placeholder="UserName/Email" value="" />
                                                    </div>

                                                    <div>

                                                        <input class="selector-input ltr" name="Password" value="" />
                                                    </div>

                                                </div>





                                            </div>
                                            <div class="d-flex align-items-center">
                                                <button class="login-btn">ورود</button>
                                                <input class="mr-2" type="checkbox" name="remember-acc" value="" />
                                                <span class="remmber-txt">مرا بخاطر بسپار</span>
                                            </div>

                                            <div class="already-login">
                                                <span class="mr-4">حساب کاربری ندارید ؟</span>
                                                <a href="#">ثبت نام</a>
                                            </div>
                                            <div class="already-login">
                                                <a class="mr-4" href="#">پسورد خود را فراموش کرده اید ؟</a>

                                            </div>



                                            <div class="creat-social mt-5 ">
                                                <h7>ایجاد حساب کاربری از طریق :</h7>
                                                <div class="social-icons">
                                                    <a href="#"><img src="/img/social singup/twitter.png" alt="Alternate Text" /></a>
                                                    <a href="#"><img src="/img/social singup/facebook.png" alt="Alternate Text" /></a>
                                                    <a href="#"><img src="/img/social singup/yahoo.png" alt="Alternate Text" /></a>
                                                    <a href="#"><img src="/img/social singup/google.png" alt="Alternate Text" /></a>
                                                </div>




                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* modal *@
                    }

                </div>
            </div>
            <div class="row logo-main ">

                <img src="~/img/Data Movies .png" alt="start" />

            </div>
            <div class="d-flex">
                <div class="col-8 p-0">
                    <div class="menu-top-bar">
                        <div class="buton-account-vip">
                            <a href="#">
                                اکانت
                                ویژه

                                <span class="fas fa-crown pl-1 pr-1"></span>
                            </a>

                        </div>

                        <div class="buton-account-vip">

                            <a asp-action="demand" asp-controller="Site">درخواست</a>

                        </div>
                        <div class="buton-account-vip">
                            <a href="#">ریلیز اختصاصی</a>

                        </div>

                        <div asp-action="index" asp-controler="site" class="buton-account-vip">
                            <a asp-action="index" asp-controller="Site">صفحه اصلی</a>
                        </div>


                    </div>

                    @RenderBody()

                </div>
                <div class="col-4 pl-2 pr-0">
                    <div class="search-top-bar">
                        <form class="navbar">
                            <input type="text" placeholder="Search.." name="search">
                            <span><i class="fa fa-search"></i></span>
                        </form>

                    </div>
                    <div class="user-topbar rtl">
                        <span class="user-title">مدیریت حساب کاربری</span>
                        <span class="fas fa-user-alt"></span>

                    </div>
                    <div class="user-optionbar rtl">
                        <a href="#" class="user-items">
                            <span class="fas fa-house-user"></span>
                            <span class="items mr-2">داشبورد</span>
                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fas fa-bookmark"></span>
                            <span class="items mr-2"> علاقه مندی ها </span>
                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fas fa-inbox"></span>
                            <span class="items mr-2"> پیام ها </span>
                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fab fa-cc-visa"></span>
                            <span class="items mr-2">خرید اکانت ویژه </span>
                            <span class="mr-auto ml-3 fas fa-star text-warning"></span>
                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fas fa-list"></span>
                            <span class="items mr-2">لیست و مدیریت سرویس ها </span>
                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fas fa-server"></span>
                            <span class="items mr-2">لیست و مدیریت  تراکنش ها </span>
                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fas fa-edit"></span>
                            <span class="items mr-2">ویرایش اطلاعات </span>
                        </a>
                        <hr class="m-1" />

                        <a href="#" class="user-items">
                            <span class="fas fa-bell"></span>
                            <span class="items mr-2"> اطلاع رسانی</span>
                        </a>
                        <hr class="m-1" />
                        <br />
                        @*<hr class="m-1" />*@
                        <a href="#" class="user-items">
                            <span class="fas fa-user-plus"></span>
                            <span class="items mr-2">دنبال کنندگان</span>
                            <span class="alert-count ml-3">0</span>

                        </a>
                        <hr class="m-1" />
                        <a href="#" class="user-items">
                            <span class="fas fa-user-friends"></span>
                            <span class="items mr-2">دنبال شوندگان</span>
                            <span class="alert-count ml-3">0</span>
                        </a>
                        @*<hr class="m-1" />*@
                        <br />
                        <hr class="m-1" />

                        <a class="user-items colaps-download " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false">
                            <span class="fas fa-download"></span>
                            <span class="items mr-2">لیست دانلود</span>
                            <span class="alert-count">0</span>
                            <span class="arow-down fas fa-angle-double-down"></span>

                        </a>


                        <div class="collapse downloads-list">
                            <div class="user-togle-list d-flex align-items-center mt-2">
                                <span class="fas fa-film"></span>
                                <span class="items mr-2">فیلم ها</span>
                                <span class="alert-count ml-3">0</span>

                            </div>
                            <div class="user-togle-list d-flex align-items-center ">
                                <span class="fas fa-video"></span>
                                <span class="items mr-2">سریال ها</span>
                                <span class="alert-count ml-3">0</span>
                            </div>


                        </div>


                        <hr class="m-1" />
                        <a class="user-items colaps-request " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false">
                            <span class="fas fa-hand-holding-medical"></span>
                            <span class="items mr-2">درخواست</span>
                            <span class="alert-count">0</span>
                            <span class="arow-down fas fa-angle-double-down"></span>

                        </a>


                        <div class="collapse request-list ">
                            <div class="user-togle-list d-flex align-items-center mt-2">
                                <span class="fas fa-paper-plane"></span>
                                <span class="items mr-2">درخواست فیلم و سریال</span>
                                <span class="alert-count ml-3">0</span>

                            </div>
                            <div class="user-togle-list d-flex align-items-center ">
                                <span class="fas fa-film"></span>
                                <span class="items mr-2">لیست در خواست فیلم ها</span>
                                <span class="alert-count ml-3">0</span>
                            </div>
                            <div class="user-togle-list d-flex align-items-center ">
                                <span class="fas fa-video"></span>
                                <span class="items mr-2">لیست در خواست سریال ها</span>
                                <span class="alert-count ml-3">0</span>
                            </div>


                        </div>

                        <hr class="m-1" />
                        <a class="user-items colaps-support " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false">
                            <span class="fas fa-headset"></span>
                            <span class="items mr-2">پشتیبانی</span>
                            <span class="alert-count">0</span>
                            <span class="arow-down fas fa-angle-double-down"></span>

                        </a>


                        <div class="collapse support-list ">
                            <div class="user-togle-list d-flex align-items-center mt-2">
                                <span class="fas fa-handshake"></span>
                                <span class="items mr-2">درخواست پشتیبانی</span>
                                <span class="alert-count ml-3">0</span>

                            </div>
                            <div class="user-togle-list d-flex align-items-center ">
                                <span class="fas fa-ticket-alt"></span>
                                <span class="items mr-2">لیست و مدیریت پشتیبانی  </span>
                                <span class="alert-count ml-3">0</span>
                            </div>



                        </div>
                        <hr class="m-1" />
                        <a href="#" class="user-items mt-4">
                            <span class="fas fa-sign-out-alt"></span>
                            <span class="items mr-2">خروج از حساب</span>
                        </a>
                        <hr class="mt-1 mb-0 ml-1 mr-1" />

                    </div>
                </div>

            </div>










            <div class="footer pr-1">
                <img src="~/img/Data Movies .png" alt="Alternate Text" />
                <div class="copyright">
                    <b>Developer</b>
                    <span class="ml-2">copyright</span>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".colaps-download").click(function () {
                $(".downloads-list").collapse('toggle');
            });
            

        });
        
        
    </script>
    <script>
        $(document).ready(function () {
            $(".colaps-request").click(function () {

                $(".request-list").collapse('toggle');

            });


        });
    </script>
    <script>
        $(document).ready(function () {
            $(".colaps-support").click(function () {
                $(".support-list").collapse('toggle');
            });


        });
    </script>
</body>
</html>

