<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataMovies.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />

</head>
<body>
    <header>
    </header>
    <div class="container-fluid">

        <div class="container">
            <div class="row register-tab">
                <div class="top">
                    <span><a href="#" class="fab fa-facebook text-primary"></a></span>
                    <span><a href="#" class="fab fa-google text-danger"></a></span>
                    <span><a href="#">Sign-Up</a></span>
                    <span>|</span>
                    <span><a href="#">Sign-In</a></span>

                </div>
            </div>
            <div class="row logo-main ">

                <img src="./img/Data Movies .png" alt="start" />

            </div>

            <div class="row">
                <div class="col-8 pr-0">
                    <div class="menu-top-bar">
                        <div class="buton-account-vip">
                            قوانین و مقررات

                        </div>
                        <div class="buton-account-vip">
                            درخواست

                        </div>
                        <div class="buton-account-vip">
                            انکود اختصاصی

                        </div>

                        <div class="buton-account-vip">
                            VIP اکانت
                            <span class="fas fa-crown pl-1 pr-1"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col pt-1">
                            <div class="cheak-radio rtl">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        نمایش فیلم و سریال
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        فقط نمایش فیلم
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        فقط نمایش سریال
                                    </label>



                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="owl-carousel movie-container">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="./img/Posters/the-real-housewives-of-orange-county.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/tenet-poster-2-700x1037.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/2.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/3.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/4.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/tenet-poster-2-700x1037.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <img src="./img/Posters/the-real-housewives-of-orange-county.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/tenet-poster-2-700x1037.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body movie-card">
                                        <div class="card-body">
                                            <img src="./img/Posters/2.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col rtl">
                            <div class="smart-search-tab">
                                <div class="smart-search-request">
                                    <div class="select-up d-flex">
                                        <div class="mr-0">
                                            <div class="m-auto">
                                                <label class="select-name">برندگان جوایز :</label>
                                                <select class="selector-top">
                                                    <option value="value">...</option>
                                                    <option>مارتین اسکورسیزی</option>
                                                    <option>استیون اسپیلبرگ</option>
                                                    <option>کلینت استوود</option>


                                                </select>
                                            </div>
                                            <div>
                                                <label class="select-name">پرفروش ترین :</label>
                                                <select class="selector-top">
                                                    <option value="value">...</option>
                                                    <option>مارتین اسکورسیزی</option>
                                                    <option>استیون اسپیلبرگ</option>
                                                    <option>کلینت استوود</option>


                                                </select>
                                            </div>


                                        </div>
                                        <div class="mr-3">
                                            <div class="m-auto">
                                                <label class="select-name2">کارگردان :</label>
                                                <select class="selector">
                                                    <option value="value">...</option>
                                                    <option class="ltr">Martin Scorsisi</option>
                                                    <option class="ltr">Alen De Lon</option>
                                                    <option class="ltr">Damien Chazelle</option>
                                                    <option class="ltr">Alfonso Cuarón</option>
                                                    <option class="ltr">Damien Chazelle</option>



                                                </select>
                                            </div>
                                            <div>
                                                <label class="select-name3">بازیگران :</label>
                                                <input class="selector-input ltr" placeholder="مثال : Al Pacino" name="Actors" value="" />

                                            </div>
                                        </div>
                                        <button class="btnsrc">جستجو</button>





                                    </div>
                                    <hr class="m-1 mb-2" />
                                    <div class="select-up d-flex flex-column">
                                        <div class="slt-up4">

                                            <label class="select-name4">ژانر :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>مارتین اسکورسیزی</option>
                                                <option>استیون اسپیلبرگ</option>
                                                <option>کلینت استوود</option>


                                            </select>
                                            <label class="select-name5">امتیاز :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>مارتین اسکورسیزی</option>
                                                <option>استیون اسپیلبرگ</option>
                                                <option>کلینت استوود</option>


                                            </select>

                                            <label class="select-name6">کیفیت :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>مارتین اسکورسیزی</option>
                                                <option>استیون اسپیلبرگ</option>
                                                <option>کلینت استوود</option>


                                            </select>
                                            <button class="btn-src">جستجو</button>
                                        </div>
                                        <div class="slt-up5">

                                            <label class="select-name4">نوع :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>مارتین اسکورسیزی</option>
                                                <option>استیون اسپیلبرگ</option>
                                                <option>کلینت استوود</option>


                                            </select>
                                            <label class="select-name5">کشور :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>مارتین اسکورسیزی</option>
                                                <option>استیون اسپیلبرگ</option>
                                                <option>کلینت استوود</option>


                                            </select>
                                            <label class="select-name7">زبان :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>مارتین اسکورسیزی</option>
                                                <option>استیون اسپیلبرگ</option>
                                                <option>کلینت استوود</option>


                                            </select>
                                            <label class="select-name8 mt-1">سال تولید :</label>

                                            <input class="inputa" name="yearold" placeholder="..." value="" />
                                            تا
                                            <input class="inputa" name="yearnew" placeholder="..." value="" />




                                        </div>



                                    </div>






                                </div>

                            </div>
                        </div>
                    </div>
                    @RenderBody()
                    
                </div>
                <div class="col-4 pl-1">
                    <div class="search-top-bar">
                        <form class="navbar">
                            <input type="text" placeholder="Search.." name="search">
                            <span><i class="fa fa-search"></i></span>
                        </form>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="social-tab">
                                <div>
                                    <span class="fab fa-telegram text-primary"></span>
                                    <span class="fab fa-instagram text-danger"></span>
                                    <span class="fas fa-envelope email"></span>
                                </div>
                                <label>: مارا  دنبال  کنید</label>
                            </div>

                        </div>
                    </div>
                    <div class="row rtl">
                        <div class="col">
                            <div class="next-address">
                                <label>آدرس بعدی وبسایت:</label>
                                <a href="#">www.GateMoviez.com</a>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="last-epsods-tab ">
                                <label>: آخرین ایپزودها </label>
                                <form class="navbar-series d-flex rtl">
                                    <input type="text" placeholder=" سریال مورد نظر .." name="search">
                                    <button><span class="fas fa-search"></span></button>
                                    
                                </form>
                                <div class="pt-1 m-0">
                                    <div class="card-body-item">

                                        <ul>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Vikings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Shadows Of Kings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Game Of Thrones</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Strike Back</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Homeland</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Vikings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>

                                        </ul>



                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="popular-movies-tab ">
                                <label>: محبوبترین ها </label>
                               
                                <ul>
                                    <li class="popsleft">
                                        <a href="#" title="Vikings">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="Jungle 2020">
                                            <img src="./img/Posters/2.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/3.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/4.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="./img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                </ul>
                                
                                
                            </div>

                        </div>


                    </div>


                    

                 </div> 


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({

            autoplayHoverPause: true,
            loop: true,
            autoplaySpeed: true,
            autoplay: true,
            touchDrag: true,
            nav: false,
            margin: 3,
           
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                960: {
                    items: 5
                },
                1200: {
                    items: 6
                }
            }
        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY > 0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });
    </script>
    <script>
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,
            wrap: true,
            items: 7,
            loop: true,



        })
    </script>
    <script>
        var dropdownElementList = [].slice.call(document.querySelectorAll('.data-bs-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {

            return new bootstrap.Dropdown(dropdownToggleEl)
        })

    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
