@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GateMoviez.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />

</head>
<body>

    <div class="container-fluid">

        <div class="container partation-1">

            <div class="col-12 register-tab">
                <div class="top d-flex">
                    <span><a href="#" class="soci-font fab fa-facebook-f text-white"></a></span>
                    <span><a href="#" class="soci-font fab fa-google text-white mr-1"></a></span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="text-white rtl mr-2 d-flex">
                            خوش آمدید !
                            <div class="dropdown">
                                <a class="user-drop text-warning mr-2 dropdown-toggle" data-toggle="dropdown">
                                    <span class="user-arm fas fa-bars"></span>

                                    @User.Identity.Name

                                </a>

                                <div class="dropdown-menu user-list-drop dropdown-menu-right rtl">
                                    <a class="dropdown-item user-item-drop" asp-action="Dashboard" asp-controller="UserManagerAccount">
                                        <span class="user-item-logo fas fa-house-user"></span>
                                        داشبورد
                                    </a>

                                    <a class="dropdown-item user-item-drop" href="#">
                                        <span class="user-item-logo fas fa-cart-arrow-down"></span>

                                        خرید اکانت ویژه
                                        <span class="fas fa-crown text-danger mr-4"></span>
                                    </a>

                                    <a class="dropdown-item user-item-drop" href="#">
                                        <span class="user-item-logo fas fa-paper-plane"></span>

                                        درخواست فیلم و سریال
                                    </a>
                                    <a class="dropdown-item user-item-drop" asp-action="Edite" asp-controller="UserManagerAccount">
                                        <span class="user-item-logo fas fa-edit"></span>

                                        ویرایش  حساب
                                    </a>
                                    <div class="dropdown-divider mt-1 mb-0 mr-1 ml-1"></div>
                                    <a class="dropdown-item user-item-drop" href="#">
                                        <span class="user-item-logo fas fa-power-off"></span>

                                        خروج
                                    </a>

                                </div>
                            </div>


                        </div>



                    }
                    else
                    {
                        <span class="sing-btn mr-1"><a href="#" data-toggle="modal" data-target="#exampleModalCenter1">ثبت نام</a></span>

                        @* modal *@
                        <div class="modal fade sing-up" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="sinup-tab">
                                        <button type="button" style="opacity:1" class="close" data-dismiss="modal" aria-label="Close">
                                            <img aria-hidden="true" src="/img/social singup/close.png" alt="Alternate Text" />
                                        </button>
                                        <form asp-action="PostRegister" asp-controller="Account">

                                            <div class="sing-window">
                                                <div class="d-flex">
                                                    <h6>ایجاد حساب کاربری</h6>
                                                    <span class="singup-logo fas fa-user-plus"></span>

                                                </div>

                                                <div class="cover-singup">
                                                    <img src="/img/social singup/1.png" alt="Alternate Text" />
                                                </div>

                                                <div class="singup-inputs-window rtl d-flex">
                                                    <div class="d-flex flex-column align-items-start">

                                                        <div>
                                                            <label class="select-name3" for="UserName">نام کاربری :</label>

                                                        </div>
                                                        <div>
                                                            <label class="select-name3">ایمیل :</label>

                                                        </div>
                                                        <div>
                                                            <label class="select-name3">پسوورد :</label>

                                                        </div>

                                                    </div>
                                                    <div class="d-flex flex-column align-items-center">

                                                        <div>

                                                            <input class="selector-input ltr" id="UserName" name="UserName" type="text" placeholder="UserName" />


                                                        </div>
                                                        <div>

                                                            <input id="Email" class="selector-input ltr" name="Email" type="email" placeholder="YourEmail@gmail.com" value="" />


                                                        </div>
                                                        <div>

                                                            <input id="Password" class="selector-input ltr" name="Password" type="password" />
                                                        </div>

                                                    </div>





                                                </div>
                                                <button type="submit" class="creatacc-btn">ایجاد حساب</button>
                                                <div class="already-login-up">
                                                    <span>حساب کاربری دارید ؟</span>
                                                    <a href="#">وارد شوید</a>
                                                </div>

                                                <div class="creat-social mt-5 ">
                                                    <h7>ایجاد حساب کاربری از طریق :</h7>
                                                    <div class="social-icons">
                                                        <a href="#"><img src="/img/social singup/twitter.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/facebook.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/yahoo.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/google.png" alt="Alternate Text" /></a>
                                                    </div>




                                                </div>




                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* modal *@

                        <span>|</span>
                        <span class="sing-btn"><a href="#" data-toggle="modal" data-target="#exampleModalCenter2">ورود به حساب</a></span>
                        @* modal *@
                        <div class="modal fade sing-up" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form asp-action="PostLogin" asp-controller="Account">
                                        <div class="sinup-tab">
                                            <button type="button" style="opacity:1" class="close" data-dismiss="modal" aria-label="Close">
                                                <img aria-hidden="true" src="/img/social singup/close.png" alt="Alternate Text" />
                                            </button>
                                            <div class="sing-window">

                                                <div class="d-flex align-items-baseline">
                                                    <h6>ورود به حساب</h6>
                                                    <span class="singup-logo fas fa-sign-in-alt"></span>

                                                </div>
                                                <div class="cover-singup">
                                                    <img src="/img/social singup/1.png" alt="Alternate Text" />
                                                </div>

                                                <div class="singup-inputs-window rtl d-flex">
                                                    <div class="d-flex flex-column align-items-start">

                                                        <div>
                                                            <label class="select-name3"> ایمیل :</label>

                                                        </div>

                                                        <div>
                                                            <label class="select-name3">پسوورد :</label>

                                                        </div>

                                                    </div>
                                                    <div class="d-flex flex-column align-items-center">

                                                        <div>

                                                            <input class="selector-input ltr" placeholder="Email" id="Email1" name="Email" type="email" />
                                                        </div>

                                                        <div>

                                                            <input class="selector-input ltr" name="Password" id="Password" type="password" />
                                                        </div>

                                                    </div>





                                                </div>
                                                <div class="d-flex">
                                                    <button type="submit" class="login-btn">ورود</button>
                                                    <input class="input-login-chkbx" type="checkbox" name="remember-acc" />
                                                    <span class="remmber-txt">مرا بخاطر بسپار</span>
                                                </div>

                                                <div class="already-login">
                                                    <span class="mr-4">حساب کاربری ندارید ؟</span>
                                                    <a href="#">ثبت نام</a>
                                                </div>
                                                <div class="already-login">
                                                    <a class="mr-4" href="#">پسورد خود را فراموش کرده اید ؟</a>

                                                </div>



                                                <div class="creat-social mt-5 ">
                                                    <h7>ایجاد حساب کاربری از طریق :</h7>
                                                    <div class="social-icons">
                                                        <a href="#"><img src="/img/social singup/twitter.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/facebook.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/yahoo.png" alt="Alternate Text" /></a>
                                                        <a href="#"><img src="/img/social singup/google.png" alt="Alternate Text" /></a>
                                                    </div>




                                                </div>




                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        @* modal *@
                    }

                </div>
            </div>

            <div class="row logo-main d-none d-md-block d-lg-block">

                <img src="~/img/Data Movies .png" alt="start" />


            </div>
            <div class="row logo-main d-md-none d-lg-none">

                <img class="p-1" src="~/img/Data Movies .png" alt="start" style="width:45%" />


            </div>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8 pr-1">
                    <div class="menu-top-bar mb-1">
                        <div class="rtl">
                            <a class="buton-menu-top" href="#">
                                <span class="fas fa-crown"></span>
                                اکانت ویژه
                            </a>
                        </div>
                        <div class="rtl">
                            <a class="buton-menu-top" asp-action="ContactUs" asp-controller="Site">
                                <span class="fas fa-phone"></span>
                                تماس با ما
                            </a>
                        </div>
                        <div class="rtl">
                            <a class="buton-menu-top" href="#">
                                <span class="fas fa-code"></span>
                                ریلیز اختصاصی
                            </a>


                        </div>

                        <div class="rtl">
                            <a class="buton-menu-top" asp-action="index" asp-controller="Site">
                                <span class="fas fa-home"></span>
                                صفحه اصلی
                            </a>

                        </div>

                    </div>
                    <div class="row mb-1">
                        <div class="col">
                            <div class="cheak-radio rtl">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        نمایش فیلم و سریال
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        فقط نمایش فیلم
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        فقط نمایش سریال
                                    </label>



                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="search-top-bar d-md-none d-lg-none mb-1">
                        <form class="navbar">
                            <input type="text" placeholder="Search.." name="search">
                            <span><i class="fa fa-search"></i></span>
                        </form>

                    </div>
                    <div class="next-address d-md-none d-lg-none mb-1 ">
                        <a href="#">www.GateMoviez.com</a>

                        <label>
                            <span class="fas fa-share"></span>
                            آدرس بعدی
                        </label>

                    </div>
                    <div class="row mb-2">
                        <div class="col-12 d-md-none d-lg-none">
                            <div class="social-tab d-flex align-items-center justify-content-center pt-2 pb-0">
                                <div>
                                    <ul class="ul-test">
                                        <li class="li-test  "><a class="a-test fas fa-envelope" href="#" title="Email"></a></li>
                                        <li class="li-test  "><a class="a-test fab fa-telegram" href="#" title="Telegram"></a></li>
                                        <li class="li-test  "><a class="a-test fab fa-instagram" href="#" title="Instagram"></a></li>
                                        <li class="li-test  "><a class="a-test fab fa-facebook" href="#" title="Facebook"></a></li>
                                    </ul>


                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="movie-container owl-carousel">
                                <div class="card card-movie">
                                    <div class="card-body">
                                        <img src="~/img/Posters/the-real-housewives-of-orange-county.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="card card-movie">
                                    <div class="card-body ">
                                        <div class="card-body">
                                            <img src="~/img/Posters/tenet-poster-2-700x1037.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col rtl">
                            <div class="smart-search-tab">
                                <div class="smart-search-request">

                                    <div class="select-up d-flex">
                                        <div class="mr-0">
                                            <div class="m-auto">
                                                <label class="select-name">برندگان جوایز :</label>
                                                <select class="selector-top ">

                                                    <option value="value">...</option>

                                                    <option>برندگان جوایز اسکار بهترین فیلم</option>
                                                    <option>برندگان جوایز اسکار بهترین فیلم غیر انگلیسی</option>
                                                    <option>برندگان جشنواره فیلم ونیز--شیر طلایی</option>
                                                    <option>برندگان جوایز فیلم رقص خورشید (SUNDANCE)</option>
                                                    <option>برندگان جوایز گلدن گلوب</option>
                                                    <option>برندگان جوایز فیلم سزار فرانسه</option>
                                                    <option>برندگان جشنواره فیلم کن</option>
                                                    <option>برندگان جشنواره بین المللی فیلم در برلین</option>





                                                </select>
                                            </div>
                                            <div>
                                                <label class="select-name-best">برترین ها :</label>
                                                <select class="selector-top">
                                                    <option value="value">...</option>
                                                    <optgroup label=" فیلم ها ">
                                                        <option>250 فیلم برتر  (IMDb)</option>
                                                        <option>250 فیلم برتر از نگاه کاربران (IMDb)</option>
                                                        <option>250 فیلم برتر  (IMDb)</option>
                                                        <option>250 فیلم برتر از نگاه انجمن (Reddj)</option>
                                                        <option>250 فیلم برتر-- نواراصلی</option>
                                                        <option>100 فیلم برتر از نگاه (GateMoviez)</option>
                                                        <option>50 فیلم برتر تاریخ از نگاه --سایت اندساند</option>
                                                        <option>50 فیلم برتر تاریخ سینما بر اساس منتقدان--متاکریتیک</option>
                                                        <option>100 فیلم برتر قرن 21 از نگاه (BBC)</option>
                                                        <option>برتیرن فیلم های تحسین شده قرن 21 از نگاه--کاربران</option>
                                                        <option>منتخب فیلمهای برتر از نگاه --منتقدان سینما</option>
                                                        <option>منتخب فیلمهای برتر کلاسیک</option>
                                                    </optgroup>

                                                    <optgroup label=" سریال ها ">
                                                        <option>250 سریال برتر (IMDb)</option>
                                                        <option>100 سریال برتر از نگاه (GateMoviez)</option>
                                                        <option>برترین سریال های قرن 21</option>
                                                        <option>برترین سریال هایی که باید دید ! (IMDb)</option>
                                                        <option>برترین سریال های کوتاه از نگاه کاربران سینما</option>
                                                        <option>5 سریال برتر تاریخ از نگاه (IMDb)</option>
                                                        <option>برترین سریالهای غیر انگلیسی (NETFLIX)</option>
                                                    </optgroup>



                                                </select>
                                            </div>


                                        </div>
                                        <div class="mr-3">
                                            <div class="m-auto">
                                                <label class="select-name2">کارگردان :</label>
                                                <select class="selector">
                                                    <option value="value">...</option>
                                                    <option class="ltr">Martin Scorsisi</option>
                                                    <option class="ltr">Alen De Lon</option>
                                                    <option class="ltr">Damien Chazelle</option>
                                                    <option class="ltr">Alfonso Cuarón</option>
                                                    <option class="ltr">Damien Chazelle</option>



                                                </select>
                                            </div>
                                            <div>
                                                <label class="select-name3">بازیگران :</label>
                                                <input class="selector-input ltr" placeholder="مثال : Al Pacino" name="Actors" value="" />

                                            </div>
                                        </div>
                                        <button class="btnsrc">جستجو</button>





                                    </div>
                                    <hr class="m-1 mb-2" />
                                    <div class="select-up d-flex flex-column">
                                        <div class="slt-up4">

                                            <label class="select-name4">ژانر :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>کمدی</option>
                                                <option>جنایی</option>
                                                <option>فانتزی</option>
                                                <option>مزیکال</option>
                                                <option>رازآلود</option>
                                                <option>ورزشی</option>
                                                <option>مهیج</option>
                                                <option>اکشن</option>
                                                <option>ماجرایی</option>
                                                <option>خانوادگی</option>
                                                <option>تخیلی</option>
                                                <option>ترسناک</option>
                                                <option>واقعیت</option>
                                                <option>عاشقانه</option>
                                                <option>جنگی</option>
                                                <option>وسترن</option>


                                            </select>
                                            <label class="select-name5">امتیاز :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>


                                            </select>

                                            <label class="select-name6">کیفیت :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>3D</option>
                                                <option>4K</option>
                                                <option>BluRy</option>
                                                <option>1080p</option>
                                                <option>720p</option>
                                                <option>480p</option>


                                            </select>

                                            <label class="form-check-label1" for="flexCheckDefault1">
                                                ریلیز اختصاصی :
                                            </label>
                                            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault1">
                                            <label class="form-check-label" for="flexCheckDefault2">
                                                دوبله فارسی :
                                            </label>
                                            <input class="form-check-input mr-1" type="checkbox" value="" id="flexCheckDefault2">


                                            @*<button class="btn-src">جستجو</button>*@
                                        </div>
                                        <div class="slt-up5">

                                            <label class="select-name4">نوع :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>فیلم سینمایی</option>
                                                <option>فیلم کوتاه</option>
                                                <option>سریال</option>
                                                <option>انمیشن</option>
                                                <option>کارتون</option>
                                                <option>تئاتر</option>
                                                <option>کنسرت</option>


                                            </select>
                                            <label class="select-name5">کشور :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>آمریکا</option>
                                                <option>انگلیس</option>
                                                <option>آلمان</option>
                                                <option>فرانسه</option>
                                                <option>ترکیه</option>
                                                <option>ایران</option>
                                                <option>مصر</option>
                                                <option>لبنان</option>
                                                <option>روسیه</option>
                                                <option>کره</option>


                                            </select>
                                            <label class="select-name7">زبان :</label>
                                            <select class="selector">
                                                <option value="value">...</option>
                                                <option>انگلیسی</option>
                                                <option>آلمانی</option>
                                                <option>عربی</option>
                                                <option>فرانسوی</option>
                                                <option>روسی</option>
                                                <option>ایتالیایی</option>
                                                <option>هندی</option>
                                                <option>چینی</option>
                                                <option>ژاپنی</option>


                                            </select>
                                            <label class="select-name8 mt-1">سال تولید :</label>

                                            <input class="inputa" name="yearold" placeholder="..." value="" />
                                            تا
                                            <input class="inputa" name="yearnew" placeholder="..." value="" />




                                        </div>



                                    </div>




                                    @*<span class="arm-search fas fa-cogs"></span>*@
                                    <img class="arm-search" src="~/img/smart-search3.png" alt="Alternate Text" />


                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        @RenderBody()
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="last-epsods-tab ">
                                <label>: آخرین ایپزودها  </label>
                                <hr class="m-2" />
                                <form class="navbar-series d-flex rtl">
                                    <input type="text" placeholder=" سریال مورد نظر .." name="search">
                                    <button><span class="fas fa-search"></span></button>

                                </form>
                                <div class="pt-1 m-0">
                                    <div class="card-body-item">

                                        <ul>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Vikings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Shadows Of Kings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Game Of Thrones</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Strike Back</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Homeland</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Vikings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>

                                        </ul>



                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="popular-movies-tab rtl">
                                <label>محبوبترین ها :</label>
                                <hr class="m-2" />
                                <ul>
                                    <li class="popsleft">
                                        <a href="#" title="Vikings">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="Jungle 2020">
                                            <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/3.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/4.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                </ul>


                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="janer-tab rtl">
                                <label>ژانر :</label>
                                <hr class="ml-2 mr-2 mt-1" />
                                <ul>
                                    <li><a href="#">جنایی</a></li>
                                    <li><a href="#">فانتزی</a></li>
                                    <li><a href="#">موزیکال</a></li>
                                    <li><a href="#">راز آلود</a></li>
                                    <li><a href="#">هیجانی</a></li>
                                    <li><a href="#">ورزشی</a></li>
                                    <li><a href="#">اکشن </a></li>
                                    <li><a href="#">ماجرایی</a></li>
                                    <li><a href="#">خانوادگی</a></li>
                                    <li><a href="#">زندگی نامه</a></li>
                                    <li><a href="#">تخیلی</a></li>
                                    <li><a href="#">ترسناک</a></li>
                                    <li><a href="#">کمدی</a></li>
                                    <li><a href="#">وسترن</a></li>
                                    <li><a href="#">معمایی</a></li>
                                    <li><a href="#">موسیقی</a></li>
                                </ul>


                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4 pl-0">
                    <div class="search-top-bar d-none d-lg-block d-md-block mb-1">
                        <form class="navbar">
                            <input type="text" placeholder="Search.." name="search">
                            <span><i class="fa fa-search"></i></span>
                        </form>

                    </div>
                    <div class="row">
                        <div class="col-12 d-none d-lg-block d-md-block">
                            <div class="social-tab d-flex align-items-center justify-content-center pt-2 pb-0">
                                <div>
                                    <ul class="ul-test">
                                        <li class="li-test  "><a class="a-test fas fa-envelope" href="#" title="Email"></a></li>
                                        <li class="li-test  "><a class="a-test fab fa-telegram" href="#" title="Telegram"></a></li>
                                        <li class="li-test  "><a class="a-test fab fa-instagram" href="#" title="Instagram"></a></li>
                                        <li class="li-test  "><a class="a-test fab fa-facebook" href="#" title="Facebook"></a></li>
                                    </ul>


                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="row rtl">
                        <div class="col">
                            <div class="next-address d-none d-lg-block d-md-block">
                                <label>
                                    <span class="fas fa-share ml-2" style="line-height:1"></span>
                                    آدرس بعدی
                                </label>
                                <a href="#">www.GateMoviez.com</a>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="last-epsods-tab d-none d-md-block d-lg-block">
                                <label>: آخرین ایپزودها  </label>
                                <hr class="m-2" />
                                <form class="navbar-series d-flex rtl">
                                    <input type="text" placeholder=" سریال مورد نظر .." name="search">
                                    <button><span class="fas fa-search"></span></button>

                                </form>
                                <div class="pt-1 m-0">
                                    <div class="card-body-item">

                                        <ul>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Vikings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Shadows Of Kings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Game Of Thrones</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Strike Back</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Homeland</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                                    <span>
                                                        <a href="#">Vikings</a>
                                                        <b>E01 S04</b>
                                                        <br />
                                                        <span class="qlty">
                                                            <a href="#">1080p</a>
                                                            <a href="#">720p</a>
                                                            <a href="#">480p</a>
                                                            <label>: کیفیت</label>
                                                        </span>

                                                    </span>
                                                </div>
                                            </li>

                                        </ul>



                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="popular-movies-tab d-none d-md-block d-lg-block rtl">
                                <label>محبوبترین ها :</label>
                                <hr class="m-2" />
                                <ul>
                                    <li class="popsleft">
                                        <a href="#" title="Vikings">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="Jungle 2020">
                                            <img src="~/img/Posters/2.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/3.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/4.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                    <li class="popsleft">
                                        <a href="#" title="dark">
                                            <img src="~/img/Posters/1.jpg" alt="Alternate Text" />
                                        </a>

                                    </li>
                                </ul>


                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="janer-tab d-none d-md-block d-lg-block rtl">
                                <label>ژانر :</label>
                                <hr class="ml-2 mr-2 mt-1" />
                                <ul>
                                    <li><a href="#">جنایی</a></li>
                                    <li><a href="#">فانتزی</a></li>
                                    <li><a href="#">موزیکال</a></li>
                                    <li><a href="#">راز آلود</a></li>
                                    <li><a href="#">هیجانی</a></li>
                                    <li><a href="#">ورزشی</a></li>
                                    <li><a href="#">اکشن </a></li>
                                    <li><a href="#">ماجرایی</a></li>
                                    <li><a href="#">خانوادگی</a></li>
                                    <li><a href="#">زندگی نامه</a></li>
                                    <li><a href="#">تخیلی</a></li>
                                    <li><a href="#">ترسناک</a></li>
                                    <li><a href="#">کمدی</a></li>
                                    <li><a href="#">وسترن</a></li>
                                    <li><a href="#">معمایی</a></li>
                                    <li><a href="#">موسیقی</a></li>
                                </ul>


                            </div>
                        </div>
                    </div>





                </div>
            </div>



            <div class="footer pr-1">
                <img src="~/img/Data Movies .png" alt="Alternate Text" />
                <div class="copyright">
                    <b>Developer</b>
                    <span class="ml-2">copyright</span>
                </div>
            </div>

        </div>






    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js"></script>


    <script>
        var owl = $('.movie-container.owl-carousel');
        owl.owlCarousel({
            loop: true,
            nav: false,
            margin: 5,
            items: 6,
            autoplay: true,
            autoplayTimeout: 3500,
            autoplayHoverPause: true,


        });
        var owl = $('.movie-example.owl-carousel');
        owl.owlCarousel({
            loop: true,
            nav: false,
            margin: 5,
            items: 5,
            center: true,
            autoplay: true,
            autoplayTimeout: 3500,
            autoplayHoverPause: true,

        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY > 0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });



    </script>


    <script>
        var dropdownElementList = [].slice.call(document.querySelectorAll('.data-bs-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {

            return new bootstrap.Dropdown(dropdownToggleEl)
        })

    </script>
    <script>
        $('#myModal').modal({
            keyboard: false
        })
    </script>
    <script>
        $('#myModal').modal('toggle')
    </script>
    <script>
        $('#myModal').modal('show')
    </script>
    <script>
        $('#myModal').modal('hide')
    </script>
    <script>
        $('#myModal').modal('handleUpdate')
    </script>
    <script>
        $('#myModal').on('hidden.bs.modal', function (e) {
            // do something...
        })
    </script>
    <script>
        $('.collapse').collapse()

    </script>
   

    @RenderSection("Scripts", required: false)














</body>
</html>
