<head>
    <link rel="stylesheet" href="~/css/Films.css" />

</head>
<div class="film-tab">
    <div class="blog-title-bar">
        <span class="title-movie" href="#">Watch What Happens Live (2021)</span>
        <hr class="mb-2 mt-1 ml-4 mr-4" />
        @*<div class="size-lbl">
                <span>Size :</span>
                <b class="size-ticket">1033 MB</b>
            </div>*@


        <div class="img-film-post">
            <img src="./img/Post Posters/snowpiercer.jpg" alt="Alternate Text" />
        </div>

    </div>
    <div class="date-comment">
        <div class="bloglist-date">
            <p class="month-day">01/24</p>
            <p class="year">2020</p>
        </div>
        <div class="bloglist-comment">
            <a href="#">No</a>
            <p class="comnt-lbl">نظرات</p>
        </div>
    </div>
    <hr class="m-4" />
    <div class="film-tab-title-informs ml-4 mr-4">
        <div class="d-flex align-items-center justify-content-center">
            <a class="imdb-logo-title" href="#">IMDB</a>

            <a class="imdb-title-link" href="#">http://www.imdb.com/title/tt0069833/</a>
        </div>


    </div>
    <div class="film-tab-informs ml-4 mr-4 rtl">
        <ul>
            <li>

                <a class="name-film-info" style="" href="#">Snowpiercer (2020)</a>
            </li>
            <li>
                ژانر :
                <a href="#">کمدی</a>
                <i>|</i>
                <a href="#">اکشن</a>
                <i>|</i>
                <a href="#">هیجانی</a>
            </li>
            <li>
                کارگردان :
                <a href="#">Stiven Spilberg</a>
                <i>|</i>
                <a href="#">john Reno</a>
                <i>|</i>
                <a href="#">Vodi Alein</a>
                <i>|</i>
                <a href="#">content</a>
            </li>
            <li>
                بازیگران :
                <a href="#">Al Pachino</a>
                <i>|</i>
                <a href="#">Robert Deneiro</a>
                <i>|</i>
                <a href="#">Jenifer Lopez</a>
            </li>
            <li>
                ساخت کشور :
                <a href="#">آمریکا</a>
                <i>|</i>
                <a href="#">روسیه</a>
            </li>
            <li>
                زبان :
                <a href="#">انگلیسی</a>
                <i>|</i>
                <a href="#">روسی</a>
            </li>
            <li class="mt-2">


                <b class="rating-imdb rtl">
                    7.3
                    <span class="often">/10</span>

                </b>
                <a class="imdb-logo" href="#">IMDB</a>

                <i class="vots-txt">تعداد رای دهندگان :</i>
                <a class="vots-imdb text-secondary" style="text-decoration:none" href="#">134,566</a>



            </li>
        </ul>
    </div>
    <div class="film-story-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span>خلاصه داستان</span>
    </div>
    <div class="film-story-tab ml-4 mr-4 rtl">
        <span>لاک پشت‌های نینجا ، فیلمی اکشن و ماجرایی محصول سال ۱۹۹۰ به کارگردانی استیو بارون می‌باشد. این فیلم داستان چهار لاک پشت جوان و جهش یافته که مسلط به هنرهای رزمی هستند را روایت می‌کند که پس از آمدن فرد شروری به اسم شردر به شهر نیویورک ، برای محافظت از مردم شهر به مبارزه با او می‌پردازند و…</span>
    </div>
    <div class="film-download-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span>لینک دانلود</span>
    </div>
    <div class="film-download-tab ml-4 mr-4 rtl">
        <ul>
            <li class="even">
                <span> دانلود با کیفیت /480p</span>
                <a href="#">DOWNLOAD</a>
            </li>
            <li class="odd">
                <span> دانلود با کیفیت /720p</span>
                <a href="#">DOWNLOAD</a>
            </li>
            <li class="even">
                <span> دانلود با کیفیت /1080p</span>
                <a href="#">DOWNLOAD</a>
            </li>
            <li class="odd">
                <span> دانلود با کیفیت /4K</span>
                <a href="#">DOWNLOAD</a>
            </li>

        </ul>
    </div>
    <hr class="m-4" />
    <div class="film-download-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span>عناوین مشابه</span>
    </div>
    <div class="example-carusel ml-2 mr-2">
        <div class="col">
            <div class="movie-example owl-carousel">
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="./img/Posters/the-real-housewives-of-orange-county.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="./img/Posters/1.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="./img/Posters/2.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="./img/Posters/3.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="./img/Posters/4.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="./img/Posters/tenet-poster-2-700x1037.jpg" title="Film" />
                    </div>
                </div>

            </div>
        </div>



    </div>
    <hr class="mt-0 mb-3 ml-4 mr-4" />
    <div class="comment-title-tab rtl ml-4 mr-4">
        <span>نظرات</span>
    </div>
    <div class="comment-tab rtl ml-4 mr-4">
        <div class="comment-user-title">
            <span>نام کاربری :</span>
            <b>ahmadutd4540</b>
        </div>
        <div class="up-bar-commnet">
            <span>ارسال نظر</span>
        </div>
        <div class="comment-nav">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button href="#">ثبت نظر</button>

    </div>
    <div class="comment-title-tab rtl ml-4 mr-4">
        <span>لیست نظرات</span>
    </div>
    <div class="comment-list rtl ml-4 mr-4">
        <div class="user-comnt-title d-flex flex-column" ><img src="./img/cmnt-logo.png" alt="Alternate Text" />
                                      <b>ahmadutd4540</b></div>
        <div class="user-comnt"><div class="comnt-window"><span> به نظرم فیلم خیلی خوبیه . خوشم اومد ممنونم</span></div></div>

    </div>
    <hr class="m-4" />

</div>
