<head>
    <link rel="stylesheet" href="~/css/topimdb.css" />

</head>
<div class="Last-Movie-Tab">
    <h2>Top 250 IMDb </h2>
    <img src="~/img/imdb-title.png" alt="Alternate Text" />
    <h2> Series</h2>


</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/8.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>

            <img class="rating-pic" src="/img/imdb rating/1.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/7.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/2.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/6.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/3.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/5.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/4.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/4.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/5.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/3.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/6.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/2.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/7.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/1.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/8.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/1.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/9.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/1.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/10.png" alt="Alternate Text" />

        </div>

    </div>

</div>
<div class="cover-movie-list__movie">
    <div href="#" class="cover-movie">
        <img src="/img/Posters/1.jpg" alt="Alternate Text" />
        <div class="black-over"></div>

    </div>

    <div class="under-cover-movie">
        <div class="d-flex align-items-start justify-content-start">
            <a href="#">The Godfather</a>
            <p>[1990]</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">

            <p class="rating-imdb" href="#">9.2</p>
            <p>Crime/</p>
            <p>Drama</p>
            <img class="rating-pic" src="/img/imdb rating/1.png" alt="Alternate Text" />

        </div>

    </div>

</div>
