@{
    Layout = "_EmptyLayout";
}
<head>
    <link rel="stylesheet" href="~/css/Series.css" />

</head>


<div class="dl-title-direct-tab  d-flex align-items-center p-1">

    <div class="ml-4 p-1">
        <span class="fas fa-file-download mr-1"></span>
        <b> Download Links</b>

        <span class="fas fa-file-video mr-1 ml-1"></span>
        <b>720p x265 BlueRay HD</b>

        <span class="fas fa-folder ml-1 mr-1"></span>
        <b>Vikings Season(5)</b>

    </div>
    


</div>

<div class="download-links rtl ">
    
    




    <div class="ltr ml-2 mt-3">

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />
        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>
        <hr class="m-0" />

        <div class="list-item">
            <a href="#">S:01E:01/720p x264 BlueRay HD.mkv/GateMobiez.Com</a>
        </div>









    </div>
</div>