<head>
    <link rel="stylesheet" href="~/css/Series.css" />

</head>

<div class="film-tab">
    <div class="blog-title-bar">
        <span class="title-movie" href="#">Vikings (2012)</span>
        <hr class="mb-2 mt-1 ml-4 mr-4" />


        <div class="img-film-post">
            <img src="/img/Posters/2.jpg" alt="Alternate Text" />
        </div>

    </div>
    <div class="date-comment">
        <div class="bloglist-date">
            <p class="month-day">01/24</p>
            <p class="year">2020</p>
        </div>
        <div class="bloglist-comment">
            <a href="#">No</a>
            <p class="comnt-lbl">نظرات</p>
        </div>
    </div>
    <hr class="m-4" />
    <div class="film-tab-title-informs ml-4 mr-4">
        <div class="d-flex align-items-center justify-content-center">
            <a class="imdb-logo-title" href="#">IMDB</a>

            <a class="imdb-title-link" href="#">http://www.imdb.com/title/tt0069833/</a>
        </div>


    </div>
    <div class="film-tab-informs ml-4 mr-4 rtl">
        <ul>
            <li>

                <a class="name-film-info" style="" href="#">Vikings (2012)</a>
            </li>
            <li>
                ژانر :
                <a href="#">کمدی</a>
                <i>|</i>
                <a href="#">اکشن</a>
                <i>|</i>
                <a href="#">هیجانی</a>
            </li>
            <li>
                کارگردان :
                <a href="#">Stiven Spilberg</a>
                <i>|</i>
                <a href="#">john Reno</a>
                <i>|</i>
                <a href="#">Vodi Alein</a>
                <i>|</i>
                <a href="#">content</a>
            </li>
            <li>
                بازیگران :
                <a href="#">Al Pachino</a>
                <i>|</i>
                <a href="#">Robert Deneiro</a>
                <i>|</i>
                <a href="#">Jenifer Lopez</a>
            </li>
            <li>
                ساخت کشور :
                <a href="#">آمریکا</a>
                <i>|</i>
                <a href="#">روسیه</a>
            </li>
            <li>
                زبان :
                <a href="#">انگلیسی</a>
                <i>|</i>
                <a href="#">روسی</a>
            </li>
            <li>
                آپدیت :
                <label class="last-ep-update">
                    فصل 03 ،
                    <span>قسمت 04</span>
                    اضافه شد
                </label>
            </li>

            <li class="mt-1 mb-1 d-flex align-items-baseline ">

                <a class="imdb-logo" href="#">IMDB</a>

                <b class="rating-imdb rtl">
                    7.3
                    <span class="often">/10</span>

                </b>

                <i class="vots-txt">تعداد رای دهندگان :</i>
                <a class="vots-imdb text-secondary" style="text-decoration:none" href="#">134,566</a>



            </li>
        </ul>
    </div>
    <div class="film-story-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span class="filtr-font fas fa-filter"></span>
        <span class="stry-txt">خلاصه داستان</span>
    </div>
    <div class="film-story-tab ml-4 mr-4 rtl">
        <span>لاک پشت‌های نینجا ، فیلمی اکشن و ماجرایی محصول سال ۱۹۹۰ به کارگردانی استیو بارون می‌باشد. این فیلم داستان چهار لاک پشت جوان و جهش یافته که مسلط به هنرهای رزمی هستند را روایت می‌کند که پس از آمدن فرد شروری به اسم شردر به شهر نیویورک ، برای محافظت از مردم شهر به مبارزه با او می‌پردازند و…</span>
    </div>
    <div class="film-story-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">

        <span class="stry-txt">توضیحات</span>
    </div>
    <div class="film-description ml-4 mr-4 rtl">
        <div class="Explanation-dbl d-flex">
            <span class="dbl-font fas fa-microphone mr-2"></span>
            <span class="ex-dobl-txt">این نماد به معنای "دوبله فارسی" میباشد که بر روی فیلم سینک شده است</span>
        </div>
        <div class="Explanation-sub d-flex ">
            <span class="sub-font fas fa-closed-captioning mr-1"></span>
            <span class="ex-dobl-txt">این نماد به معنای "زیرنویس چسبیده" میباشد که بر روی فیلم سینک شده است</span>
        </div>
        <div class="Explanation-spsh d-flex ">
            <span class="gate-font fas fa-code mr-1"></span>
            <span class="ex-dobl-txt">
                این نماد به معنای ریلیز اختصاصی
                <b class="gtmoz-explan">"<img src="/img/gate-explan.png" alt="Alternate Text" />"</b>
                میباشد
            </span>
        </div>

    </div>
    <div class="film-download-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span class="dl-font fas fa-download"></span>
        <span class="dl-txt">دانلود</span>
    </div>





    @* start download section---------------------------------------------------------------------------------------------------- *@
    <div class="film-download-tab ml-4 mr-4 rtl">



        <div class="series-dl-list">
            <button data-toggle="collapse" data-target="#demo">
                <span>فصل اول</span>
                <span class="cir-plus fas fa-plus-circle"></span>
            </button>


            <div id="demo" class="collapse show clp">
                <div>
                    <a asp-action="DownloadLinks" asp-controller="series" class="items-qlty-even d-flex rtl">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="series-dl-list">
            <button data-toggle="collapse" data-target="#demo1">
                <span>فصل دوم</span>
                <span class="cir-plus fas fa-plus-circle"></span>
            </button>


            <div id="demo1" class="collapse show clp">
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="series-dl-list">
            <button data-toggle="collapse" data-target="#demo2">
                <span>فصل سوم</span>
                <span class="cir-plus fas fa-plus-circle"></span>
            </button>


            <div id="demo2" class="collapse show clp">
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-even d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x264</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>


        @* start dobleh partion ----------------------------------------------------------------------------------------------------- *@
        <div class="series-dl-list">
            <button class="btn-series-dubleh" data-toggle="collapse" data-target="#demo6">
                <span>فصل اول</span>
                <span class="fas fa-microphone mr-auto ml-4 text-dark" title="دوبله فارسی"></span>

                <span class=" fas fa-plus-circle"></span>
            </button>


            <div id="demo6" class="collapse show clp">

                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="series-dl-list">
            <button class="btn-series-dubleh" data-toggle="collapse" data-target="#demo7">
                <span>فصل دوم</span>
                <span class="fas fa-microphone mr-auto ml-4 text-dark" title="دوبله فارسی"></span>

                <span class=" fas fa-plus-circle"></span>
            </button>


            <div id="demo7" class="collapse show clp">

                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="series-dl-list">
            <button class="btn-series-dubleh" data-toggle="collapse" data-target="#demo8">
                <span>فصل سوم</span>
                <span class="fas fa-microphone mr-auto ml-4 text-dark" title="دوبله فارسی"></span>
                <span class=" fas fa-plus-circle"></span>
            </button>


            <div id="demo8" class="collapse show clp">

                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-odd d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        @* End dobleh partion ----------------------------------------------------------------------------------------------------- *@

        @* start Zirnevis partion ----------------------------------------------------------------------------------------------------- *@
        <div class="series-dl-list">
            <button class="btn-series-zirnevis" data-toggle="collapse" data-target="#demo9">
                <span>فصل اول</span>
                <span class="fas fa-closed-captioning mr-auto ml-4 text-dark" title="زیرنویس فارسی"></span>

                <span class=" fas fa-plus-circle"></span>
            </button>


            <div id="demo9" class="collapse show clp">

                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="series-dl-list">
            <button class="btn-series-zirnevis" data-toggle="collapse" data-target="#demo10">
                <span>فصل دوم</span>
                <span class="fas fa-closed-captioning mr-auto ml-4 text-dark" title="زیرنویس فارسی "></span>

                <span class=" fas fa-plus-circle"></span>
            </button>


            <div id="demo10" class="collapse show clp">

                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="series-dl-list">
            <button class="btn-series-zirnevis" data-toggle="collapse" data-target="#demo11">
                <span>فصل سوم</span>
                <span class="fas fa-closed-captioning mr-auto ml-4 text-dark" title="زیرنویس فارسی"></span>
                <span class=" fas fa-plus-circle"></span>
            </button>


            <div id="demo11" class="collapse show clp">

                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">480p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">720p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>
                <div>
                    <a class="items-qlty-off d-flex rtl" href="#">
                        <span class="qly-name-series">کیفیت :</span>
                        <span class="qly-link-series">1080p x265</span>
                        <span class="dl-link-series">دانلود</span>
                    </a>

                </div>

            </div>
        </div>
        @* End Zirnevis partion ----------------------------------------------------------------------------------------------------- *@









    </div>
    @* End download section---------------------------------------------------------------------------------------------------- *@


    <hr class="m-4" />
    <div class="film-download-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span class="pplr-font fas fa-fire-alt"></span>
        <span class="pplar">عناوین مشابه</span>
    </div>
    <div class="example-carusel ml-2 mr-2">
        <div class="col">
            <div class="movie-example owl-carousel">
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="~/img/Posters/the-real-housewives-of-orange-county.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="~/img/Posters/1.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="~/img/Posters/2.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="~/img/Posters/3.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="~/img/Posters/4.jpg" title="Film" />
                    </div>
                </div>
                <div class="card movie-item-card">
                    <div class="card-body movie-card-body">
                        <img src="~/img/Posters/tenet-poster-2-700x1037.jpg" title="Film" />
                    </div>
                </div>

            </div>
        </div>



    </div>
    <hr class="mt-0 mb-3 ml-4 mr-4" />
    <div class="comment-title-tab d-flex align-items-center justify-content-end  ml-4 mr-4">
        <span class="cmnt-font fas fa-comment"></span>
        <span class="comnt-txt">نظرات</span>
    </div>
    <div class="comment-tab rtl ml-4 mr-4">
        <div class="comment-user-title">
            <span>نام کاربری :</span>
            <b>ahmadutd4540</b>
        </div>
        <div class="up-bar-commnet">
            <span>ارسال نظر</span>
        </div>
        <div class="comment-nav">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button href="#">ثبت نظر</button>

    </div>
    <div class="comment-title-tab d-flex align-items-center rtl ml-4 mr-4">
        <span class="cmnt-list-txt">لیست نظرات</span>
        <b class="comnt-count-label mr-auto">تعداد :</b>
        <b class="comnt-count">3</b>
    </div>
    <div class="comment-list rtl ml-4 mr-4">
        <div class="user-comnt-title d-flex flex-column">
            <img src="~/img/iconfinder_user_account_profile_5402435 (2).png" alt="Alternate Text" />
            <b>arash_sd1910</b>
        </div>
        <div class="user-comnt"><div class="comnt-window"><span> به نظرم فیلم خیلی خوبیه . خوشم اومد ممنونم</span></div></div>
        <div class="date-comnt d-flex flex-column">
            <p>11/4/2021</p>
            <p>14:30</p>
        </div>

    </div>
    <div class="comment-list rtl ml-4 mr-4">
        <div class="user-comnt-title d-flex flex-column">
            <img src="~/img/iconfinder_user_account_profile_5402435 (2).png" alt="Alternate Text" />
            <b>ahmad_utd4540</b>

        </div>
        <div class="user-comnt"><div class="comnt-window"><span> بد نبود خیلی الکی تموم شد</span></div></div>
        <div class="date-comnt d-flex flex-column">
            <p>11/4/2021</p>
            <p>15:30</p>
        </div>

    </div>
    <div class="comment-list rtl ml-4 mr-4">
        <div class="user-comnt-title d-flex flex-column">
            <img src="~/img/iconfinder_user_account_profile_5402435 (2).png" alt="Alternate Text" />
            <b>ahmad_utd4540</b>

        </div>
        <div class="user-comnt"><div class="comnt-window"><span> بد نبود خیلی الکی تموم شد</span></div></div>
        <div class="date-comnt d-flex flex-column">
            <p>11/4/2021</p>
            <p>15:30</p>
        </div>

    </div>
    <hr class="m-4" />

</div>
