<head>
    <link rel="stylesheet" href="~/css/Director.css" />

</head>

<div class="direct-tab rtl">
    <div class="direct-cheir ltr">
        <img src="/img/director/act.png" alt="Alternate Text" />

    </div>

    <div class="direct-name rtl">
        <h5>STEVEN SPIELBERG</h5>


    </div>

    <div class=" d-flex rtl">
        <div class="direct-item-card">
            <img src="/img/director/spilberg.jpg" alt="Alternate Text" />
            <div class="mirror-over"></div>
        </div>

        <div class="director-information rtl">
            <div class="information-tab">
                <span>
                    ستیون اسپیلبرگ کارگردان مطرح سینمای آمریکا و برنده سه جایزه اسکار است که فیلم‌های جریان‌ساز، پرفروش و البته متنوعی در کارنامه حرفه‌ای‌اش دیده می‌شود. کارگردان همه فن حریفی که به پشتوانه تسلط‌اش بر مدیوم سینما، در یک سال هم درام تاریخی اسب جنگی را با محوریت جنگ جهانی اول می‌سازد و هم انیمیشن ماجراهای تن‌تن را بر اساس مجموعه کتاب‌های محبوب هرژه. این تنوع در سراسر کارنامه اسپیلبرگ دیده می‌شود و باعث شده تا در فهرست آثارش، هم نام بلاک‌ باسترهای پرهزینه‌ای چون پارک ژوراسیک و بازیکن شماره یک آماده دیده شود
                </span>
            </div>
            <div class="awards-info">
                <div class="border-box-director">
                    <div class="awards-director d-flex align-items-center justify-content-start">
                        <b class="oscar-win-txt">برنده</b>
                        <b class="oscar-win-count">'3'</b>
                        <b class="oscar-win-txt">جایزه اسکار .</b>
                        <b class="other-win-txt">برنده</b>
                        <b class="other-win-count">'180'</b>
                        <b class="other-win-txt">جایزه دیگر</b>
                        <b class="other-win-txt">,</b>
                        <b class="other-win-count">'236'</b>
                        <b class="other-win-txt">بار نامزد</b>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
    