@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_AdminLayout";
}
    <head>
        <link rel="stylesheet" href="~/css/Admin-site.css" />

    </head>

    @*<h3 class="mt-4 rtl">داشبورد</h3>*@
<div class="dashboard-tab d-flex rtl p-2">
    <div class="card user-servis-dash" style="width:200px">
        <img class="card-img-top" src="/img/crw.png" alt="Card image">
        <div class="card-body user-servis-dash-body flex-column">
            <h3 class="card-title user-servis-dash-body-count">1</h3>
            <h3 class="card-title user-servis-dash-body-count-0">0</h3>
            <p class="card-text user-servis-dash-body-txt">سرویس فعال</p>

        </div>
    </div>
    <div class="card user-servis-dash mr-2" style="width:200px">
        <img class="card-img-top" src="/img/suprt.png" alt="Card image">
        <div class="card-body user-servis-dash-body flex-column">
            <h3 class="card-title user-servis-dash-body-count">1</h3>
            <h3 class="card-title user-servis-dash-body-count-0">0</h3>
            <p class="card-text user-servis-dash-body-txt">درخواست پشتیبانی</p>

        </div>
    </div>
    <div class="card user-servis-dash mr-2" style="width:200px">
        <img class="card-img-top" src="/img/envelope.png" alt="Card image">
        <div class="card-body user-servis-dash-body flex-column">
            <h3 class="card-title user-servis-dash-body-count">1</h3>
            <h3 class="card-title user-servis-dash-body-count-0">0</h3>
            <p class="card-text user-servis-dash-body-txt">تیکت دریافت</p>

        </div>
    </div>
</div>
    