@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_AdminLayout";
}
<head>
    <link rel="stylesheet" href="~/css/Admin-site.css" />

</head>

<div class="user-edite-tab">
    <h3>Profile</h3>
</div>
