@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_UserLayout";}
<head>
    <link rel="stylesheet" href="~/css/User-site.css" />

</head>

<div class="user-edite-tab">
    <h3>Profile</h3>
</div>
