@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_UserLayout";}
<head>
    <link rel="stylesheet" href="~/css/User-site.css" />

</head>

<div class="Ticket-User-tab">
    <div class="Ticket-User-tab-title rtl">
        <span class="fas fa-history"></span>
        <h6>تاریخچه تیکت ها</h6>
    </div>

    <div class="Ticket-history rtl">
        <div class="alert alert-success">
            <strong>Success!</strong> You should <a asp-action="TicketBack" asp-controller="UserManagerAccount" class="alert-link">read this message</a>.
        </div>
        <div class="alert alert-danger">
            <strong>Success!</strong> You should <a asp-action="TicketBack" asp-controller="UserManagerAccount" class="alert-link">read this message</a>.
        </div>
        <div class="alert alert-danger">
            <strong>Success!</strong> You should <a asp-action="TicketBack" asp-controller="UserManagerAccount" class="alert-link">read this message</a>.
        </div>
        
    </div>



</div>
