@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_AdminLayout";
}
<head>
    <link rel="stylesheet" href="~/css/Admin-site.css" />

</head>

<div class="Ticket-User-tab">
    <div class="rtl m-2">
        <div class="alert alert-success">
            <strong>admin!</strong>
        </div>
        <div class="paper-back alert alert-success ">
            <strong>admin txt !</strong>
        </div>
    </div>



</div>
