<head>
    <link rel="stylesheet" href="~/css/Actor.css" />

</head>

<div class="direct-tab rtl">
    <div class="direct-cheir ltr">
        <img src="/img/Actor/act-logo2.png" alt="Alternate Text" />

    </div>

    <div class="direct-name rtl">
        <h5>BRAD PIT</h5>


    </div>

    <div class=" d-flex rtl">
        <div class="direct-item-card">
            <img src="/img/Actor/Brad Pit.jpg" alt="Alternate Text" />
            <div class="mirror-over"></div>
        </div>

        <div class="director-information rtl">
            <div class="information-tab d-none d-md-block d-lg-block">

                <i class="in-respon-story">
                    ستیون اسپیلبرگ کارگردان مطرح سینمای آمریکا و برنده سه جایزه اسکار است که
                    فیلم‌های جریان‌ساز، پرفروش و البته متنوعی در کارنامه حرفه‌ای‌اش دیده می‌شود. کارگردان همه فن
                    حریفی که به پشتوانه تسلط‌اش بر مدیوم سینما، در یک سال هم درام تاریخی اسب جنگی را با محوریت
                    جنگ جهانی اول می‌سازد و هم انیمیشن ماجراهای تن‌تن را بر اساس مجموعه کتاب‌های محبوب هرژه.
                    این تنوع در سراسر کارنامه اسپیلبرگ دیده می‌شود و باعث شده تا در فهرست آثارش، هم
                    نام بلاک‌ باسترهای پرهزینه‌ای چون پارک ژوراسیک و بازیکن شماره یک آماده دیده شود
                </i>
            </div>
            <div class="information-tab d-md-none d-lg-none" style="width:280px">

                <i class="in-respon-story" style="font-size:10px">
                    ستیون اسپیلبرگ کارگردان مطرح سینمای آمریکا و برنده سه جایزه اسکار است که
                    فیلم‌های جریان‌ساز، پرفروش و البته متنوعی در کارنامه حرفه‌ای‌اش دیده می‌شود. کارگردان همه فن
                    حریفی که به پشتوانه تسلط‌اش بر مدیوم سینما، در یک سال هم درام تاریخی اسب جنگی را با محوریت
                    جنگ جهانی اول می‌سازد و هم انیمیشن ماجراهای تن‌تن را بر اساس مجموعه کتاب‌های محبوب هرژه.
                    این تنوع در سراسر کارنامه اسپیلبرگ دیده می‌شود و باعث شده تا در فهرست آثارش، هم
                    نام بلاک‌ باسترهای پرهزینه‌ای چون پارک ژوراسیک و بازیکن شماره یک آماده دیده شود
                    جنگی را با محوریت
                    جنگ جهانی اول می‌سازد و هم انیمیشن ماجراهای تن‌تن را بر اساس مجموعه کتاب‌های محبوب هرژه.
                    این تنوع در سراسر کارنامه اسپیلبرگ دیده می‌شود و باعث شده تا در فهرست آثارش، هم
                    نام بلاک‌ باسترهای پرهزینه‌ای چون پارک ژوراسیک و بازیکن شماره یک آماده دیده شود
                </i>
            </div>
            <div class="awards-info d-none d-md-block d-lg-block">
                <div class="border-box-director">
                    <div class="awards-director d-flex align-items-center justify-content-start">

                        <span class=" other-win-txt">
                            برنده
                            <b>3</b>
                            جایزه اسکار و برنده
                            <b>130</b>
                            جایزه دیگر و
                            <b>220</b>
                            مرتبه نامزد

                        </span>

                    </div>
                </div>

            </div>
            <div class="awards-info d-md-none d-lg-none" style="width:280px">
                <div class="border-box-director " >
                    <div class="awards-director d-flex align-items-center justify-content-start">

                        <span class=" other-win-txt" style="font-size:10px">
                            برنده
                            <b>3</b>
                            جایزه اسکار و برنده
                            <b>130</b>
                            جایزه دیگر و
                            <b>220</b>
                            مرتبه نامزد

                        </span>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
<div class="row">
    <div class="col">

        @* Start Post Section------------------------------------------------------------------------------ *@
        <div class="blog-list-tab">
            <div class="blog-title-bar">
                <a class=" title-movie" href="#">Watch What Happens Live (2021)</a>
                <hr class="m-1" />
                <span class="size-lbl">Size :</span>
                <b class="size-ticket">1033 MB</b>

            </div>

            <div class="blogs-tab">

                <div class="d-flex">

                    <div class="blog-img-desc">
                        <img src="~/img/Post Posters/watch-what-happens--live.jpg" alt="Alternate Text" />
                    </div>
                    <div class="description">
                        <div class="desc-title d-flex">
                            <a href="#" style="text-decoration:underline" class="font-weight-bold">Watch What Happens Live</a>
                            <a href="#">(2021)</a>
                            <a href="#"><img src="~/img/cmt-backg/usa.png" alt="Alternate Text" title="USA" /></a>
                            @*<img class="dobl-micro" title="دوبله فارسی" src="/img/micro.png" alt="Alternate Text" />*@
                            <span class="fas fa-microphone" title="دوبله"></span>

                        </div>
                        <div class="desc-items">
                            <div class="imdb-rating-top d-flex flex-column">
                                <img class="rating-pic" src="/img/imdb rating/1.png" alt="Alternate Text" />
                                <i class="imdb-under-rat">IMDb رتبه</i>
                            </div>
                            <div class="desc-info rtl">
                                <span>ژانر :</span>
                                <a href="#">اکشن</a>
                                <i>|</i>
                                <a href="#">علمی تخیلی</a>
                                <i>|</i>
                                <a href="#">کمدی</a>




                            </div>

                            <div class="desc-info rtl">
                                <span>کارگردان :</span>
                                <a href="#">stiven spilberg</a>
                                <i>|</i>
                                <a href="#">john cash</a>
                                <i>|</i>
                                <a href="#">brayan hilton</a>
                            </div>


                            <div class="desc-info rtl">
                                <span>بازیگران :</span>
                                <a href="#">brad bit</a>
                                <i>|</i>
                                <a href="#">Tom Hardy</a>
                                <i>|</i>
                                <a href="#">Angelina Juliy</a>
                            </div>


                            <div class="desc-info rtl">
                                <span>کیفیت :</span>
                                <a href="#">4K</a>
                                <i>|</i>
                                <a href="#">3D</a>
                                <i>|</i>
                                <a href="#">1080p</a>
                                <i>|</i>
                                <a href="#">720p</a>
                                <i>|</i>
                                <a href="#">480p</a>
                            </div>
                            <div class="desc-info rtl mt-2">
                                <hr class="m-0" />
                                <label><a href="#">IMDb</a></label>
                                <b class="rating-imdb">
                                    7.3
                                    <span class="often">/10</span>

                                </b>

                                <i class="vots-txt">تعداد رای دهندگان :</i>
                                <a class="vots-imdb text-secondary" style="text-decoration:none" href="#">134,566</a>
                                <a class="button-dl" href="#">DOWNLOAD</a>


                            </div>

                        </div>
                        <div class="desc-story rtl">
                            <span class="story-movie d-flex">
                                خلاصه داستان :
                            </span>
                            <p class="story-movie-txt">
                                ایندو سرکار ، نام فیلمی غم‌انگیز و مهیج محصول سال ۲۰۱۷ به کارگردانی مدهور بهاندرکار می‌باشد. ایندو سارکار در دوره اضطراری بین سال‌های هزارو نهصدو هفتادو پنج تا هزارو نهصدو هفتادو هفت توسط نخست وزیر ایندرا گاندی تعیین می‌شود و…
                            </p>
                        </div>


                    </div>
                </div>


                <div class="date-comment">
                    <div class="bloglist-date">
                        <p class="month-day">01/24</p>
                        <p class="year">2020</p>
                    </div>
                    <div class="bloglist-comment">
                        <a href="#">No</a>
                        <p class="comnt-lbl">نظرات</p>
                    </div>
                </div>
            </div>

            <br />
            @* Start Post Section------------------------------------------------------------------------------ *@
            <div class="blog-title-bar">
                <a class="title-movie" href="#">Watch What Happens Live (2021)</a>
                <hr class="m-1" />

                <span class="size-lbl">Size :</span>
                <b class="size-ticket">1033 MB</b>

            </div>

            <div class="blogs-tab">

                <div class="d-flex">

                    <div class="blog-img-desc">
                        <img src="~/img/Post Posters/snowpiercer.jpg" alt="Alternate Text" />
                    </div>
                    <div class="description">
                        <div class="desc-title d-flex">
                            <a href="#" style="text-decoration:underline" class="font-weight-bold">Watch What Happens Live</a>
                            <a href="#">(2021)</a>
                            <a href="#"><img src="~/img/cmt-backg/usa.png" alt="Alternate Text" title="USA" /></a>

                        </div>
                        <div class="desc-items">
                            <div class="desc-info rtl">
                                <span>ژانر :</span>
                                <a href="#">اکشن</a>
                                <i>|</i>
                                <a href="#">علمی تخیلی</a>
                                <i>|</i>
                                <a href="#">کمدی</a>
                            </div>

                            <div class="desc-info rtl">
                                <span>کارگردان :</span>
                                <a href="#">stiven spilberg</a>
                                <i>|</i>
                                <a href="#">john cash</a>
                                <i>|</i>
                                <a href="#">brayan hilton</a>
                            </div>


                            <div class="desc-info rtl">
                                <span>بازیگران :</span>
                                <a href="#">brad bit</a>
                                <i>|</i>
                                <a href="#">Tom Hardy</a>
                                <i>|</i>
                                <a href="#">Angelina Juliy</a>
                            </div>


                            <div class="desc-info rtl">
                                <span>کیفیت :</span>
                                <a href="#">4K</a>
                                <i>|</i>
                                <a href="#">3D</a>
                                <i>|</i>
                                <a href="#">1080p</a>
                                <i>|</i>
                                <a href="#">720p</a>
                                <i>|</i>
                                <a href="#">480p</a>
                            </div>
                            <div class="desc-info rtl mt-2">
                                <hr class="m-0" />
                                <label><a href="#">IMDb</a></label>
                                <b class="rating-imdb">
                                    7.3
                                    <span class="often">/10</span>

                                </b>

                                <i class="vots-txt">تعداد رای دهندگان :</i>
                                <a class="vots-imdb text-secondary" style="text-decoration:none" href="#">134,566</a>
                                <a class="button-dl" href="#">DOWNLOAD</a>


                            </div>

                        </div>
                        <div class="desc-story rtl">
                            <span class="story-movie d-flex">
                                خلاصه داستان :
                            </span>
                            <p class="story-movie-txt">
                                ایندو سرکار ، نام فیلمی غم‌انگیز و مهیج محصول سال ۲۰۱۷ به کارگردانی مدهور بهاندرکار می‌باشد. ایندو سارکار در دوره اضطراری بین سال‌های هزارو نهصدو هفتادو پنج تا هزارو نهصدو هفتادو هفت توسط نخست وزیر ایندرا گاندی تعیین می‌شود و…
                            </p>
                        </div>


                    </div>
                </div>


                <div class="date-comment">
                    <div class="bloglist-date">
                        <p class="month-day">01/24</p>
                        <p class="year">2020</p>
                    </div>
                    <div class="bloglist-comment">
                        <a href="#">No</a>
                        <p class="comnt-lbl">نظرات</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
