@{
    Layout = "_Layout";
}
    <head>
        <link rel="stylesheet" href="~/css/site.css" />

    </head>
    <div class="Ticket-User-tab">
        <div class="Ticket-User-tab-title rtl">
            <div class="d-flex mb-4 mr-1">
                <span class="fas fa-envelope-open-text"></span>
                <h6> تماس با ما</h6>
            </div>
            
            
        </div>

        <div class="Ticket-Send rtl">
            <div class="d-flex flex-column mb-1">
                <label>ایمیل خود را وارد کنید :</label>
                <input type="text" name="name" value="" />
            </div>
            <div class="d-flex flex-column">
                <label>عنوان :</label>
                <input type="text" name="name" value="" />
            </div>
            <div class="d-flex flex-column mt-3">
                <label>توضیح :</label>
                <textarea class="ticket-desc"></textarea>
            </div>
            <div class="snd-tkt-btn">
                <a href="#">ارسال
                    <span class="fas fa-arrow-left mr-1"></span>
                </a>
            </div>


        </div>



    </div>