<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<div class="demand-tab rtl">
    <div class="title-demand">
        
        <h6>درخواست فیلم و سریال</h6>
        <span class="fas fa-question-circle mr-2"></span>
    </div>
    <div class="demand-img">
        <img src="~/img/imdb help.jpg" alt="Alternate Text" />
        
    </div>
    <div class="demand-submit-list">
        <span>کد</span>
        <span class="imdb-demand-logo">IMDb</span>
        <span>را وارد کنید :</span>
        <input class="imdb-demand-cod-input" type="text" name="IMDb-Code" value="" />
        <button class="deman-submit">ثبت درخواست</button>
    </div>
</div>